
*.swp
.DS_Store
*.orig
*.log
*.user
*.suo
*.pdb
_ReSharper.*
*.sln.cache
Game/obj/*
GameCommon/obj/*
GameEntities/obj/*
DedicatedServer/obj/*
Bin/DedicatedServer.exe
Bin/DedicatedServer.xml
Bin/Game.exe
Bin/GameCommon.dll
Bin/GameCommon.xml
Bin/GameEntities.dll
Bin/GameEntities.xml
*.exe
